[Unit]
Description=Run Uptime Kuma Host OS Ping every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target
